.cmake/*
.idea/*
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/*
Testing/*
bin/before_cpp20
bin/spaceship_implementation
bin/multiple_ordering_criteria
bin/lexicographical_compare_three_way
build.ninja
cmake_install.cmake
